@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --chelsea-blue: #034694;
  --chelsea-gold: #DBA111;
}

body {
  background: #0f0f0f;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}
